<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- JSON-логгирование с поддержкой MDC -->
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <mdc/>                    <!-- ← сюда попадают requestId, walletId, operationType -->
                <logLevel/>
                <threadName/>
                <loggerName/>
                <message/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <!-- Уровень логирования для нашего пакета -->
    <logger name="com.wallet.walletservice" level="DEBUG" />

    <!-- Корневой логгер -->
    <root level="INFO">
        <appender-ref ref="JSON" />
    </root>
</configuration>